@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #f9fafb;
    --text-color: #1f2937;
    --card-color: #ffffff;
    --border-color: #e5e7eb;
  }
  
.dark {
--bg-color: #121212;
--text-color: #f1f1f1;
--card-color: #1e1e1e;
--border-color: #3f3f3f;
}

body {
background-color: var(--bg-color);
color: var(--text-color);
font-family: 'Inter', system-ui, sans-serif;
margin: 0;
padding: 0;
}

  
.view-more-btn {
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
.view-more-btn:hover {
background-color: #fff;
color: #000;
}

.lucky-highlight {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.6s ease-in-out;
  }

  
  @keyframes bounce-target {
    0%, 100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-12px);
    }
    60% {
      transform: translateY(6px);
    }
    80% {
      transform: translateY(-4px);
    }
  }
  
  .animate-bounce-target {
    animation: bounce-target 0.6s ease;
  }
  
  
  
  
  html {
    font-size: 16px;
  }
  
  @media (max-width: 480px) {
    html {
      font-size: 14px;
    }
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 17px;
    }
  }
  
  @media (min-width: 1024px) {
    html {
      font-size: 18px;
    }
  }
  